.catalog-section {
  background-image: url(../img/sprite/catalog-bg.svg);
  background-position: left bottom;
  // background-size: contain;
  background-repeat: no-repeat;
  padding: 0 0 clamp(30px, 7.5vw, 90px);

  @media screen and (max-width: 1025px) {
    background-image: none;
  }

  &__nav {
    grid-gap: clamp(15px, 2.5vw, 30px) clamp(15px, 4.167vw, 50px);
    justify-content: flex-start;
    margin-bottom: 19px;
  }

  &__breadcrumbs {
    margin-bottom: 90px;

    @media screen and (max-width: 1025px) {
      margin-bottom: 30px;
    }
  }

  &__title {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 100%;
    color: var(--color-a);
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    grid-gap: 40px;
  }

  &__filters {
    margin-bottom: 40px;
  }

  @media screen and (max-width: 1025px) {
    &__nav,
    &__breadcrumbs {
      grid-column: 2;
    }

    &__title,
    &__filters,
    .product-list {
      grid-column: span 2;
    }
  }

  @media screen and (max-width: 576px) {

    &__nav,
    &__breadcrumbs,
    &__title,
    &__filters,
    .product-list {
      grid-column: initial;
    }

  }
}
