footer {
  background-color: var(--color-b);
}

.footer {
  padding: clamp(30px, 5vw, 60px) 0;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;

  &__nav-list {
    flex-direction: column;
    width: fit-content;
    margin-left: auto;
    align-items: flex-end;
  }

  &__nav {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 25px 30px;
    max-width: 300px;

    &-item {
      a {
        font-family: var(--font-family);
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        text-transform: uppercase;
        color: var(--color-c);
        transition: all .4s;
      }

      a:hover{
        color: var(--color-a);
      }
    }
  }
}
