.product-section {
  background-image: none;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    background-image: url(../img/single-product.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: clamp(320px,65vw, 780px);
    height: clamp(400px,66.667vw, 800px);
    right: 0;
    bottom: 0;
    transform: translate(15%, 37%);
    opacity: .7;
  }
}

.product {
  &__inner {
    display: grid;
    grid-template-columns: 260px 1fr;
    grid-column: span 2;

    @media screen and (max-width: 1025px) {
      grid-template-columns: 220px 1fr;
      width: calc(100vw - 20px);
    }

    @media screen and (max-width: 576px) {
      grid-template-columns: 100%;
      grid-column: initial;
    }

  }

  &__nav,
  &__breadcrumbs {
    grid-column: 2;

    @media screen and (max-width: 576px) {
      grid-column: initial;
    }
  }

  &__box {
    grid-column: span 2;

    @media screen and (max-width: 576px) {
      grid-column: initial;
    }
  }
}
