.main-top {

  &__title {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 600;
    font-size: clamp(25px, 3.75vw, 45px);
    line-height: 100%;
    color: var(--color-a);
    margin: 0 auto;
    text-align: center;
  }
}
