.single-card {
  display: grid;
  grid-template-columns: clamp(250px, 31.667vw, 380px) 1fr;
  grid-gap: 0 54px;

  &--sale {
    .single-card__image {
      position: relative;
      &::before {
        width: 60px;
        height: 60px;
        content: '';
        position: absolute;
        background-image: var(--sale-icon);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 20;
        top: 15px;
        left: 15px;
      }
    }
  }

  &__title {
    grid-column: span 2;
    margin-bottom: clamp(30px, 5vw, 60px);
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 600;
    font-size: clamp(25px, 3.75vw, 45px);
    line-height: 120%;
    color: var(--color-a);
  }

  &__image {
    padding: 25px;
    border: 2px solid var(--color-e);
    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: Min(44.5vw, 534px);
    z-index: 0;


    picture, img {
      transition: all .4s;
    }

    &:hover {

      picture, img {
        transform: scale(1.2);
      }

    }

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 221px;
      width: 221px;
      background: #3a3a3a8a;
      filter: blur(20px);
      z-index: -1;
      border-radius: 50%;
    }
  }

  &__deg {
    font-family: var(--font-family2);
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: var(--color-c);
    position: absolute;
    right: 21px;
    top: 16px;
  }

  &__descr {
    display: flex;
    flex-direction: column;
    width: 100%;
    grid-gap: clamp(25px, 3.333vw, 40px);
  }

  &__coment {
    margin-top: 30px;
    background-color: aqua;
    grid-column: 1;
  }

  &__text {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: clamp(16px, 1.667vw, 20px);
    line-height: 150%;
    color: var(--color-c);
  }

  &__info {
    display: grid;
    grid-template-columns: 115px 1fr;
    grid-gap: 40px;

    &-list {
      display: flex;
      flex-direction: column;
      grid-gap: 10px;
    }

    &-item {
      display: grid;
      grid-template-columns: 50px 1fr;
      grid-gap: 20px;
    }

    &-title {
      font-family: var(--font-family);
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 100%;
      color: var(--plus-bg);
    }

    &-value {
      font-family: var(--font-family);
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 100%;
      color: var(--color-c);
    }

    &-coll:first-child {
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-gap: 12px;
    }

    &-link {
      font-family: var(--font-family);
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      text-decoration-line: underline;
      color: var(--color-c);
    }

  }



  &__choice {


    &-list {
      display: flex;
      grid-gap: 20px;
    }
  }



}
