:root {
  --body-bg: #262626;


  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  --font-family: "Montserrat", sans-serif; // var(--font-family);
  --font-family2: "Georgia", sans-serif; // var(--font-family2);
  --font-family3: "Inter", sans-serif; // var(--font-family3);
  // text color
  --color-a: #ffffff; // var(--color-a);
  --color-b:  #000000; // var(--color-b);
  --color-c: #999999; // var(--color-c);
  --color-d: #262626; // var(--color-d);
  --color-e: #474747; // var(--color-e);



  --color-f: #004ed3; // var(--color-f);
  --color-g: #585858; // var(--color-g);
  --color-h: #242424; // var(--color-h);
  --color-i: #3671D4; // var(--color-i);
  --color-j: #132442; // var(--color-j);
  --color-k: #182C4F; // var(--color-k);
  --color-l: #FFAE35; // var(--color-l);
  --color-m: #738396; // var(--color-m);




  --plus-bg: #A5340F; // var(--plus-bg);

  --advantage-bg: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 50%), #A5340F;
}
